.header{
    position: fixed;
    // flex-wrap: wrap;
    top: 0px;
    // left: 9%;
    width: 81%;
    margin: auto;
    z-index: 1000;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC; 
    background:#FFF;
    padding: 20px 20px;
    &__div{
        flex-wrap: nowrap;
        gap: 200px;
        width: 100%;    
    }
    &__nav{
        display: flex;
        margin-left: 20%;
        list-style: none;
        gap: 20px;
        & > a{
            text-decoration: none;
        }
       &__link{
        margin-left: auto;
        color: var(--descropion, #828388);
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
       } 
    }
    &__right{
        margin-left: 10%;
    padding-bottom: 15px;
        
    // border-bottom: 1px solid #CCC; 
&__bars{
    display: none;
}
    &__leng {
        
     & >   select{

        color: var(--text-2, #56585E);
border: 0;
margin-right: 40px;
border-left: 0.1px solid  #56585E;
font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
// text-transform: capitalize;
    }
    } 
    &__link{
        padding:10px 20px ;
        border-radius: 20px;
border: 1px solid #CCC;
background: #FFF;
color: var(--Kok, #184AFB);

font-family: Michroma;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-transform: capitalize;
    }
}
}
.mobil_nav{
    display: none;
}

@media  only screen and (max-width:420px) {
    .header{
        padding: 10px;
        font-size: 10px;
        justify-content: center;
        &__logo{
            & > a{
                & > img{
                   height: 20px;
            width: 80px; 
                }
            }
            
        }
        &__nav{
            display:none;

        }
        &__right{
            margin: 0;
            padding-bottom: 0;
            &__bars{
                display: block;
            }
            &__link{
                display: none;
                padding: 5px 10px;
                font-size: 10px;
            }
            .active{
                display: flex !important;
                
            }
            

            &__leng{
                // display: none;
                & > select{

                    font-size: 10px !important;
                    margin-right: 20px;
                }
            }
        }
        &__div{
            gap: 0;
        }
    }
    .mobil_nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background:#184AFB;
        align-items: center;
        justify-content: center;
        z-index: 23987987;
        & > svg{
            position:absolute;
            top: 1%;
            right: 2%;
            
        }
    }
    
}



